body {
  background: lightblue;
}

header {
  font-size: 32px;
  text-align: center;
  font-style: Arial;
}

.about {
  background: orange;
  font-size: 10px;
  color: blue;
  line-height: 40px;
  font-family:"Comic Sans MS";
  padding: 5px 5px;
  border-radius:25px;
}

.name {
  background: gray;
  font-size: 15px;
  color: white;
  line-height: 33px;
  font-family:"Impact;
  padding: 50px;
  border-radius:5px;

}

.hobbies {
  background: purple;
  font-size: 20px;
  color: yellow;
  line-height: 25px;
  font-family:"Veranda";
  padding: 10%;
  border-radius:32px;

}

.birthday {
  background: tan;
  font-size: 17px;
  color: green;
  line-height: 15px;
  font-family:"Lucida Console";
  padding: 5px;
  border-radius:17px;
}

.soda {
  background: turquoise;
  font-size: 23px;
  color: brown;
  line-height: 30px;
  font-family:"Helvetica";
  padding: 20%;
  border-radius:121px;
}